.idea
/venv/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/
*.py[cod]
*$py.class
/people-counting-opencv/
/deb/
/src/age_gender/age_model_weights.h5
/src/age_gender/gender_model_weights.h5
/src/person/MobileNetSSD_deploy.caffemodel
/src/person/MobileNetSSD_deploy.prototxt
